header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(purple));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), purple);
  height: 100px;
  width: 100vw;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 1rem;
  font-style: italic;
  z-index: 1709;
}

header .fas {
  display: none;
}

header span {
  color: pink;
  font-size: 20px;
  font-style: italic;
}

header .logo {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

header .nav {
  font-style: italic;
  z-index: 1290;
}

header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  margin-top: 10px;
}

header .nav ul li {
  padding: 0 1rem;
}

header .nav ul li a {
  color: #fff;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 100;
  }
  header .nav ul {
    z-index: 590;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: -400px;
    height: 200px;
    position: fixed;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 70px;
    width: 100vw;
    background-color: #1a0c0c;
  }
  header .nav ul li {
    color: #111;
    font-size: 14px;
    padding: 5px 0;
  }
  header .nav ul li a {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
  }
  header .fas {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    font-size: 30px;
  }
  header .logo {
    font-size: 23px;
  }
  header .logo span {
    font-size: 23px;
  }
}

.nav ul.nav-toggle {
  left: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

#home {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("./assets/images/danielle-cerullo-CQfNt66ttZM-unsplash (2).jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

#home::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  content: '';
  background: rgba(31, 22, 3, 0.8);
  opacity: 0.7;
}

#home .wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#home h1 {
  font-size: 5rem;
  font-style: italic;
}

#home h3 {
  font-size: 2.5rem;
  font-style: italic;
  margin-bottom: 30px;
}

#home .btn {
  cursor: pointer;
  background: #d16a6a;
  color: #fff;
  padding: 10px 30px;
  outline: none;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
}

#home .icons {
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 1000;
}

#home .icons .fab {
  margin-right: 10px;
  font-size: 30px;
  color: red;
  background: pink;
  border-radius: 50px;
  outline: none;
  border: none;
}

#home * {
  z-index: 170;
}

#features {
  background: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(rgba(0, 233, 200, 0.9)));
  background: linear-gradient(to bottom, #ececec, rgba(0, 233, 200, 0.9));
}

#features .card {
  height: 600px;
}

#features .card img {
  width: 100%;
  height: 300px;
}

#features h3, #features h1 {
  font-style: italic;
  color: #1e1e1e;
}

#features h3 {
  border-bottom: 1px dotted #1b1b2c;
  padding-bottom: 10px;
}

#features p {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#features .card:hover {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

#about {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(purple));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), purple);
  opacity: 0.8;
}

#about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

#about .container h2, #about .container h3 {
  font-style: italic;
  margin-bottom: 30px;
  margin-top: 10px;
  color: red;
}

#about .buttons {
  display: block;
  margin: 0 auto;
}

#about .buttons .btn {
  cursor: pointer;
  background: #d16a6a;
  color: #fff;
  padding: 10px 30px;
  outline: none;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  margin: 10px 50px;
  width: 200px;
}

#gallery {
  background: rgba(41, 68, 41, 0.733);
  padding-bottom: 10px;
}

#gallery .card .img-fluid {
  width: 100%;
  height: 300px;
}

#gallery .card .img-fluid img {
  margin-bottom: 20px;
}

#gallery h1 {
  font-style: italic;
}

#footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(purple));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), purple);
  color: #fff;
}

#footer ul {
  text-align: center;
  list-style: none;
  margin-top: 10px;
}

#footer ul li {
  font-style: 15px;
  font-weight: 200;
}

@media screen and (max-width: 767px) {
  #home h1 {
    font-size: 2.5rem;
    font-style: italic;
  }
  #home h3 {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 30px;
  }
  #home .wave {
    right: 0;
  }
  #features {
    background: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(rgba(0, 233, 200, 0.9)));
    background: linear-gradient(to bottom, #ececec, rgba(0, 233, 200, 0.9));
  }
  #features .card {
    height: auto;
    margin-bottom: 5px;
  }
  #features .card img {
    width: 100%;
    height: 300px;
  }
  #features h3, #features h1 {
    font-style: italic;
    color: #1e1e1e;
    font-size: 24px;
    font-weight: bold;
  }
  #features h3 {
    border-bottom: 1px dotted #1b1b2c;
    font-size: 20px;
    padding-bottom: 10px;
  }
  #features p {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about h3, #about h2 {
    text-align: center;
  }
  #about .buttons .btn {
    margin: 5px 20px;
    width: 120px;
  }
  #gallery .card {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=main.css.map */